.card-container {
  border: 2px solid gray;
  border-radius: 5px;
  min-height: 281px;
  min-width: 351px;
}

.card-title {
  border-bottom: 2px solid gray;
  font-weight: 600;
  padding: 15px;
}

.card-container p {
  text-align: left;
}

.card-info {
  display: flex;
  flex-direction: column;
  height: 82%;
  justify-content: center;
  padding: 15px;
}
